@use "./variables.scss"as *;



.book-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;



    h1 {
        font-size: $h2-size;
    }

}


.book-container {

    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 3rem;
    font-size: $h3-size;
    padding: 5rem 1rem;
    box-shadow: 0px 3px 12px;


    input {
        font-size: 1.5rem;
        color: #ababab;
        font-family: $text-font;
        border: 1px solid #ccd7e6;
        border-radius: 3px;
        font-weight: 400;
        padding: 1.2rem 6rem;

    }



}



.book-container select {
    font-size: 1.5rem;
    color: #ababab;
    font-family: $text-font;
    border: 1px solid #ccd7e6;
    border-radius: 3px;
    font-weight: 400;
    padding: 1.2rem 6rem;


}

.book__card6 button {
    font-size: 2rem;
    font-family: $titles-font;
    font-weight: 600;
    border: none;
    cursor: pointer;
    padding: 1.5rem 2.5rem;
    background-color: $text-orange;
    transition: 0.8s;
    text-align: center;
    width: 400px;
    color: white;


    &:hover {
        background-color: $text-orange;
        color: white;
    }

}

@media (max-width: 1200px) {
    .book-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}

@media (max-width: 700px) {
    .book-container {
        display: flex;
        flex-direction: column;
    }
}