@use './variables.scss'as *;

.team_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 4rem;
    align-items: center;
    text-align: center;
    padding: 10rem 2rem;
    width: 100%;
    margin: 0 auto ;
    border: 1px solid red;


   

    &__card {
        width: 40rem;
        background-color: white;
        box-shadow: 0px 20px 10px 0px rgb(0 0 0 / 8%);
    

      

        &__profile {
            width: 100%;
            height: auto;
            background-color: #f6f6f6;

            img {
                width: 100%;
            }
        }

    }
    
}

.team_descr {
    color: $text-black;
    padding: 3rem;



    h3 {
        font-size: $h3-size;
    }

    p {
        font-size: $p-size;
        font-weight: 500;
        color: #777777;
    }
}