@use "./variables.scss" as * ;
.team__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: $h2-size;
    }
    h3 {
 font-size: $h3-size;
    }

    margin-bottom: 6rem;
}

.team-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
    gap: 2rem;

    img {
        width: 100%;
        height: auto;
    
    }
}

.team-card {
    box-shadow: 0px 20px 10px 0px rgb(0 0 0 / 8%);
    

    h3 {
        font-size: $h4-size;
    }
    p {
        font-size: $p-size;
        font-weight: 500;
        color: #777777;
    }
}
.team-container__text{
    padding-top: 2.5rem;
}
